@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

header {
  background-color: #161616;
  display: grid;
  grid-template-rows: 1fr auto;
}
header section {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.3fr;
  gap: 2rem;
  align-items: flex-end;
  padding-left: 0.5rem;
}
header section h1 {
  font-size: 2.5rem;
  color: #f99d1c;
}
header section p {
  color: #fff;
}
header section h1,
header section p {
  margin-bottom: 2rem;
}
header section figure {
  width: 120px;
}
header section figure img {
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 15rem;
  gap: 2rem;
  background-color: #f99d1c;
}
header nav figure {
  width: 30px;
}
header nav figure img {
  width: 100%;
}
header nav .mdHidden {
  display: none;
}
header nav ul {
  display: flex;
  gap: 2rem;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: #4f4f4f;
}

main {
  background: #eceaea;
  display: grid;
  grid-template-rows: auto 1fr;
}
main section {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
}
main section .formDiv {
  grid-column: span 1/span 1;
  padding: 2rem 0rem;
}
main section .formDiv form {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  background: #4f4f4f;
}
main section .formDiv form div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}
main section .container {
  grid-column: span 3/span 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5rem;
  background-color: #dfdbdb;
}
main section .container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}
footer {
  background-color: #161616;
}

@media only screen and (max-width: 600px) {
  header section {
    display: none !important;
  }
  header nav {
    display: grid;
    padding: 1rem !important;
    gap: 0rem !important;
  }
  header nav .mdHidden {
    display: grid !important;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
  }
  header nav .mdHidden:hover {
    background-color: #eaf09b;
  }
  header nav .mdHidden:hover + ul {
    display: grid !important;
    justify-content: center;
    text-align: center;
    padding: 1rem !important;
    cursor: pointer;
  }
  header nav ul:hover {
    display: grid !important;
    padding: 0rem !important;
    text-align: center;
    gap: 0rem !important;
  }
  header nav ul:hover li {
    padding: 1rem;
  }
  header nav ul:hover li:hover {
    background-color: #eaf09b;
  }
  section {
    display: flex !important;
    flex-direction: column !important;
    gap: 0rem !important;
  }
  section .formDiv {
    padding: 0rem !important;
  }
  section .container {
    display: flex !important;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 4rem 0rem !important;
  }
  section .container .zeldaArticle {
    grid-column: span 1 !important;
  }
}
@media only screen and (max-width: 1200px) {
  ul {
    display: none !important;
  }
  main section {
    width: 100% !important;
  }
  main section .zeldaArticle {
    margin-top: 2rem !important;
  }
}
@media only screen and (max-width: 950px) {
  .container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: center;
    gap: 1rem;
    padding: 0rem 2rem !important;
  }
  .container article:last-child {
    grid-column: span 2;
  }
  .container .zeldaArticle {
    margin-top: 0rem !important;
  }
}

/*# sourceMappingURL=styles.css.map */
