@mixin defaultState {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $ceoDokument;
    }
}

@mixin flexMixin($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @content;
}

@mixin tablet {
    @media only screen and (max-width: 1200px) {
        ul {
            display: none!important;
        }
        main {
            section {
                .zeldaArticle {
                    margin-top: 2rem !important;
                }
            }
        }
    }
}

@mixin srednji {
    @media only screen and (max-width: 950px) {
        
        .container {
            display: grid !important;
            grid-template-columns: repeat(2,1fr)!important;
            justify-content: center;
            gap: 1rem;
            padding: 0rem 2rem!important;
            article {
                &:last-child {
                    grid-column: span 2;
                }
            }
            .zeldaArticle {
                margin-top: 0rem!important;
            }
        }
    }
}

@mixin mobilni {
    @media only screen and (max-width: 650px) {
        header {
            section {
                display: none!important;
            }
            nav {
                display: grid;
                padding: 1rem!important;
                gap: 0rem!important;
                .mdHidden {
                    display: grid!important;
                    justify-content: center;
                    cursor: pointer;
                    padding: 1rem;
                    &:hover {
                        background-color: $zutaHover;
                    }
                }
                .mdHidden:hover + ul {
                    display: grid!important;
                    justify-content: center;
                    text-align: center;
                    padding: 1rem!important;
                    cursor: pointer;
                }
                ul:hover{
                    display: grid!important;
                    padding: 0rem!important;
                    text-align: center;
                    gap: 0rem!important;
                    li {
                        padding: 1rem;
                    }
                    li:hover {
                            background-color: $zutaHover;     
                    }
                }
                
            }
       
        }
        section {
            display: flex !important;
            flex-direction: column !important;
            padding: 2rem 0rem!important;
            gap: 0rem!important;
            .formDiv {
                padding: 0rem!important;
            }
            .container {
                display: flex!important;
                flex-direction: column;
                width: 80%;
                margin: 0 auto;
                padding: 4rem 0rem!important;
                .zeldaArticle {
                    grid-column: span 1!important;
                }
            }
        }
        .drugiRow {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
            padding: 0!important;
            .divMapa {
                width: fit-content;
                p {
                    text-align: center!important;
                }
            }
        }
    }
}