@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:wght@100;400&display=swap');

$navGame: 'Noto Serif', serif;
$ceoDokument: 'Tahoma', sans-serif;

$zutaHover: #eaf09b;
$navBoja: #f99d1c;
$gameNames: #161616;
$sivaHeader: #4f4f4f;
